[Unit]
Description=Nodejs App

[Service]
ExecStart=/usr/bin/nodejs {{ app.file}}
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory={{ app.dir }}/{{ dir_name }}/

[Install]
WantedBy=multi-user.target